html{
    height: 100%;
}
body{
    height: 100%;
    margin:0;
    width:100%;
    background: #c6eaff;
}

#dram{
    height:200px;
    background: #deb887;
    display: flex;
    justify-content: space-around;
    padding:0px 0px 0px 0px;
    border:1px solid black;
    margin:5px 0 0px -30px;
}
#dram > div{
    width: 20%;
    height: 100%;
    padding:0,0;
}

.ans{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    height: 200px;
    border: 5px dashed greenyellow;
    background: lightgoldenrodyellow;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

ul{
    height: 100%;
}
li{
    list-style-type: none;
    height:100%;
    display: block;
    overflow: hidden;
    text-indent: 100%;
}

.buttons{
    display :flex;
    height: 74%;
}

.buttons > div{
    width:50%;
}

.dram0_button,.dram1_button,.dram2_button{
        margin-right: 10px;
    }

.buttons{
    position: relative;
}

li a{
    display: block;
    overflow: hidden;
    text-indent: 100%;
    height: 100%;
}
.buttons div li{
    height: 50%;
}
